body {
  background-image: url("background.jpg");
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}

/* styling container */
.container {
  width: 1000px;
  background-color: rgba(0, 0, 0, 0.60);
  border-radius: 20px;
  padding: 6em;
  margin: 2em auto;
}

/* header */
header {
  text-align: center;
  color: rgb(0, 221, 0);
}

header > img {
  width: 15em;
}

header h1 {
  font-weight: 400;
  margin: 0;
}

/* navbar */
nav {
  text-align: center;
  background-color: rgb(0, 221, 0);
  padding: 0.8em;
}

/* content */
main {
  color: rgb(255, 255, 255);
  margin-top: 1em;
  width: 50%;
}

/* scooters */

section h2, section p {
  margin: 0;
}

section h2 {
  display: inline-block;
  font-weight: 400;
}

/* battery */
.battery {
  width: 800px;
}

.battery-percentage.first-scooter {
  width: 50%;
  height: 2em;
  background-color: rgb(255, 165, 0);
  border-radius: 5px;
}

.battery-percentage.second-scooter {
  width: 90%;
  height: 2em;
  background-color: rgb(0, 255, 0);
  border-radius: 5px;
}

.battery-percentage.third-scooter {
  width: 30%;
  height: 2em;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
}
